<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form 전송</title>
  </head>
  <body>
    <h1>Form</h1>

    <h2>Get 요청</h2>

    <form action="/login" method="get">
      <label for="id">ID</label>
      <input
        type="text"
        name="id"
        placeholder="ID는 최소 3글자"
        id="id"
        minlength="3"
      />
      <!-- label, input의 id 값을 같게 하면 ID라는 글자를 클릭해도 인풋창 선택됨 -->
      <label for="pw">
        PW
        <input type="password" name="pw" placeholder="PW" id="pw" required />
      </label>
      <!-- label 태그 안에  넣으면 label의 for값과 input의 id 값을 맞추면 됨 -->

      <input type="number" name="grade" placeholder="GRADE" max="4" />

      <!-- form 태그 안에 있는 button 태그는 type: submit (기본값)-->
      <button>제출</button>
    </form>

    <h2>Post 요청</h2>
    <!-- pattern 속성: 폼 요소에 값 입력되었을 때, 그 입력된 값에 대해 검증 -> 입력된 값이 없을 때는 검증을 안함 -->
    <!-- required 속성: 폼 요소에 값이 반드시 들어가야하는지 여부를 결정 -->

    <!-- method 가 다르면 url이 똑같아도 상관 없음(action="") -->
    <form action="/login" method="post">
      <label for="id">ID</label>
      <input
        type="text"
        name="id"
        placeholder="ID"
        id="id"
        pattern="^([a-zA-Z0-9가-힣]){4,10}$"
        title="아이디는 대소문자, 숫자, 한글로 구성된 4자 이상의 문자여야 합니다."
        required
      />
      <label for="pw">
        PW
        <input
          type="password"
          name="pw"
          placeholder="PW"
          id="pw"
          pattern="^([a-z0-9]){8,12}$"
          required
        />
        <!-- 설정한 name이 키값으로 들어감 { id2: 'apple', pw2: '1234' } -->
      </label>
      <button>제출</button>
    </form>

    <!-- js form 유효성 검사 -->
    <h2>JS 유효성 검사</h2>
    <form
      action="/js-form-check"
      method="post"
      name="valiForm"
      onsubmit="return checkForm(this)"
      target="_blank"
    >
      <input
        type="text"
        name="id"
        minlength="1"
        placeholder="ID"
        title="최소 1글자"
      />
      <span>우편물 수령장소</span>
      <input type="checkbox" name="post" value="자택" />자택
      <input type="checkbox" name="post" value="회사" />회사
      <button>제출</button>
    </form>

    <script>
      function checkForm(form) {
        // 1) name으로 폼 선택
        // const form = document.forms["valiForm"];

        // 2) this로 보내서 매개변수로 받기
        console.log(form);

        if (form.id.value == "") {
          form.id.focus();
          alert("아이디를 입력해주세요.");
          return false; // submit 이벤트가 일어나지 않음
        }

        // 각각의 input 요소의 name 속성 값으로 접근
        // checkbox가 둘 다 체크가 안 되었을 때
        if (form.post[0].checked == false && form.post[1].checked == false) {
          alert("우편물 수령 장소를 선택해 주세요.");
          return false;
        }
      }
    </script>

    <!-- 실습 get -->
    <h2>실습 get</h2>
    <form action="/prac-get" method="get">
      <div>이름<input type="text" name="pracGetId" id="pracGetId" /></div>
      <div>
        <fieldset>
          <legend>성별</legend>
          <input type="radio" value="남자" id="man" name="gender" />남자
          <input type="radio" value="여자" id="woman" name="gender" />여자
          <!-- 해설 -->
          <!-- 
          <input type="radio" name="gender" id="male" value="male">
          <label for="male">남자</label> 
          -->
        </fieldset>
      </div>
      <br />
      <div>
        <fieldset>
          <legend>생년월일</legend>
          <select name="year" id="year">
            <% for (let i = 0; i < 50; i++) { %>
            <option value="<%= 2010 - i %>"><%= 2010 - i %></option>
            <% } %>
          </select>
          년
          <select name="month" id="month">
            <% for (let i = 1; i < 13; i++) { %>
            <option value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
          월
          <select name="day" id="day">
            <% for (let i = 1; i < 32; i++) { %>
            <option value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
          일
        </fieldset>
      </div>
      <br />
      <div>
        <fieldset>
          <legend>관심사</legend>
          <input type="checkbox" value="여행" name="hobby" id="travel" />여행
          <input type="checkbox" value="패션" name="hobby" id="style" />패션
          <input type="checkbox" value="음식" name="hobby" id="food" />음식
          <!-- 해설 -->
          <!-- 
          <input type="checkbox" name="hobby" value="travel" id="travel" />
          -->
        </fieldset>
      </div>
      <br />
      <button>회원가입</button>
    </form>

    <!-- 실습 post -->
    <h2>실습 post</h2>
    <form action="/prac-post" method="post">
      <div>이름<input type="text" name="pracGetId2" id="pracGetId2" /></div>
      <div>
        <fieldset id="gener2" name="gender2">
          <legend>성별</legend>
          <input type="radio" value="남자" id="man2" name="gender2" />남자
          <input type="radio" value="여자" id="woman2" name="gender2" />여자
        </fieldset>
      </div>
      <br />
      <div>
        <fieldset>
          <legend>생년월일</legend>
          <select name="year2" id="year2">
            <% for (let i = 0; i < 50; i++) { %>
            <option value="<%= 2010 - i %>"><%= 2010 - i %></option>
            <% } %>
          </select>
          년
          <select name="month2" id="month2">
            <% for (let i = 1; i < 13; i++) { %>
            <option value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
          월
          <select name="day2" id="day2">
            <% for (let i = 1; i < 32; i++) { %>
            <option value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
          일
        </fieldset>
      </div>
      <br />
      <div>
        <fieldset>
          <legend>관심사</legend>
          <input type="checkbox" value="여행" name="hobby2" id="travel2" />여행
          <input type="checkbox" value="패션" name="hobby2" id="style2" />패션
          <input type="checkbox" value="음식" name="hobby2" id="food2" />음식
        </fieldset>
      </div>
      <br />
      <div>
        <fieldset>
          <legend>선택</legend>
          <div>
            좋아하는 색상 <input type="color" name="color" id="color" />
          </div>
          <div>좋아하는 숫자 <input type="number" name="num" id="num" /></div>
        </fieldset>
      </div>
      <br />
      <button>회원가입</button>
    </form>
  </body>
</html>
